.Con{
margin-left: 460px;
padding: 40px;
padding-top:95px;

}
.container{
    text-align: center;
    border:solid;
    width:420px;
    background-image:url("https://res.cloudinary.com/dswhesdgv/image/upload/v1661337728/images_3_ekuvkp.jpg");
}
.heading{
 color:white;
 font-family: "Roboto";
 font-size:40px;
}
.count{
font-size:50px;
color:white;
}
.button{
padding: 10px;
margin:10px;
border-radius: 5px;
background-color: lightcoral;
}